@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('icons.css');
@import url('form.css');
body {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 100 !important;
    margin: 0 auto;
    padding: 0;
}

h5 {
    font-size: .8rem !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    letter-spacing: .2rem;
}


/* Colors */

.btn-green {
    background-color: #89A621;
    border-radius: 0;
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
}